---
layout: base
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <div class="row">
    <div class="column">
      <img src="/docs/assets/Gown.jpg" alt="A picture of Christian Gideon in his gown after graduation."/>
    </div>
    <div class="column">
      <img src="/docs/assets/Glasses-and-honors.jpeg" alt="A picture of Christian Gideon on the University of San Diego's campus."/>
    </div>
  </div>


  <html>
  <head>
  <style> 

* {box-sizing: border-box;}
  /* Two image containers (use 25% for four, 33.33% for three, and 50% for two, etc) */
.column {
  display: flex;
  flex-direction: row;
  justify-content: center;
  float: left;
  height: 40vh;
  width: auto;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

  </style>
  </head>
  </html>


<br>Hello! My name is Christian Gideon, and I am a recent graduate from the University of San Diego. Ever since middle school, I've always been interested in robotics,
software, and engineering. After being on my VEX and FRC Robotics teams in middle and high school, I delved further into the world of code which led me to pursue
a major in Computer Science.<br><br>

I realized more in college that I also really enjoy working with people and discovering their needs when it comes to technology. So, as I learned the foundations
needed to become a good Computer Scientist, I also decided to move towards a concentration in Human-Computer Interaction. Because my college did not offer a
cognitive science program, I also decided to further my learning by getting a minor in Psychology.<br><br>

And now that I've graduated, I still find myself in love with technology! That's why I am currently pursuing jobs within the realm of Software Engineering.<br><br>

<h1>Contact Information</h1>
You can reach out to me at my personal email, <u>crgideon19@gmail.com</u><br><br>

You can also find me at my USD email, <u>christiangideon@sandiego.edu</u><br><br>

I am also on Handshake and <a href = "https://www.linkedin.com/in/christian-gideon-011671194/" target = "_blank"><u>LinkedIn</u></a>.<br><br>

Lastly, my phone number is <u>1(818)-825-4219</u>. If you would like to call me, you are most likely to reach me on a weekday between the hours of 11AM and 5PM.
If I do not respond, please feel free to leave a message!

</div>